# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
.venv/

# Data files
*.csv
*.tsv
*.zip
*.gz

# Model and output files
*.pkl
*.log
results/

# OS files
.DS_Store
Thumbs.db

# Python files
*.egg-info/

# Notebook metadata
notebooks/__pycache__/
